<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/animate.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="register-window col-md-12" id="register">
        <form action="#" class="form-application col-md-6">
            <p>
                <label>Ваше имя</label>
                <input type="text" name="text">
            </p>
            <p>
                <label>Контактный телефон</label>
                <input type="tel" name="tel">
            </p>
            <p>
                <label>Изучали ли английский язык ранее?</label>
                <span class="radio-butt">
                    <span class="check col-md-3"><span>Нет</span><input type="radio" name="studyBefore" value="Нет"></span>
                    <span class="check col-md-3"><span>Да</span><input type="radio" name="studyBefore" value="Да"></span>
                </span>
            </p>
            <p>
                <label>Знаете ли вы свой уровень?</label>
                <span class="radio-butt">
                    <span class="check col-md-3"><span>Нет</span><input type="radio" name="level" value="Нет"></span>
                    <span class="check col-md-3"><span>Да</span><input type="radio" name="level" value="Да"></span>
                </span>
                <div class="check-level">
                    <a href="#">
                        Узнать свой уровень >>
                    </a>
                </div>
                <span>
                    <label>Ваш уровень английского языка</label>
                    <input type="text">
                </span>
            </p>
            <p>
                <input type="submit" value="Отправить заявку">
            </p>
            <div class="close-window">X</div>
        </form>
    </div>
    <div class="leftColumn col-md-3">
        <div class="leftColumn_container">
            <div class="leftColumn_row">
                <div class="leftColumn_logo">
                    <img class="small_img" src="@Url.Content("~/Content/images/logo.jpg")" alt="" />
                </div>
            </div>
            <div class="leftColumn_row">
                <div class="leftColumn nav">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.Action("LeftMenu", "Menu")
                </div>
            </div>
        </div>
    </div>

    @Html.Action("Header", "Home")

    
    <div>
        @RenderBody()

        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/effect.js")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('#application').click(function () {
                $('#register').css('display', 'flex');
            });
        });

    </script>

</body>
</html>
