<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Главная</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/animate.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="register-window col-md-12" id="register">
        <form action="#" class="form-application col-md-6">
            <p>
                <label>Ваше имя</label>
                <input type="text" name="text">
            </p>
            <p>
                <label>Контактный телефон</label>
                <input type="tel" name="tel">
            </p>
            <p>
                <label>Изучали ли английский язык ранее?</label>
                <span class="radio-butt">
                    <span class="check col-md-3"><span>Нет</span><input type="radio" name="studyBefore" value="Нет"></span>
                    <span class="check col-md-3"><span>Да</span><input type="radio" name="studyBefore" value="Да"></span>
                </span>
            </p>
            <p>
                <label>Знаете ли вы свой уровень?</label>
                <span class="radio-butt">
                    <span class="check col-md-3"><span>Нет</span><input type="radio" name="level" value="Нет"></span>
                    <span class="check col-md-3"><span>Да</span><input type="radio" name="level" value="Да"></span>
                </span>
                <div class="check-level">
                    <a href="#">
                        Узнать свой уровень >>
                    </a>
                </div>
                <span>
                    <label>Ваш уровень английского языка</label>
                    <input type="text">
                </span>
            </p>
            <p>
                <input type="submit" value="Отправить заявку">
            </p>
            <div class="close-window">X</div>
        </form>
    </div>
    <div class="leftColumn col-md-3">
        <div class="leftColumn_container">
            <div class="leftColumn_row">
                <div class="leftColumn_logo">
                    <img class="small_img" src="@Url.Content("~/Content/images/logo.jpg")" alt="" />
                </div>
            </div>
            <div class="leftColumn_row">
                <div class="leftColumn nav">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <div class="nav nav-pills">
                            <ul class="leftColumn nav navbar-nav">
                                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                                <li>@Html.ActionLink("О нас", "About", "Home")</li>
                                <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Отзывы", "Feedback", "Home")</li>
                                <li>@Html.ActionLink("Цены", "Price", "Home")</li>
                                <li>@Html.ActionLink("Тесты", "Tests", "Home")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainBlock col-md-9">
        <header class="col-md-12">
            <nav class="header-nav">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Отзывы", "Feedback", "Home")</li>
                    <li>@Html.ActionLink("Цены", "Price", "Home")</li>
                    <li>@Html.ActionLink("Тесты", "Tests", "Home")</li>
                </ul>

            </nav>
            <div class="phone">
                <p>+375 (29) 187 49 67</p>
            </div>
            <a class="application" id="application" href="">
                Записаться
            </a>

        </header>
        <div id="my-slider" class="carousel slide" data-interval="5500" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="@Url.Content("~/Content/images/slider/11.jpg")" alt="slide1" class="img-responsive col-md-12">
                </div>
                <div class="item">
                    <img src="@Url.Content("~/Content/images/slider/22.jpg")" alt="slide2" class="img-responsive col-md-12">
                </div>

                <div class="item">
                    <img src="@Url.Content("~/Content/images/slider/33.jpg")" alt="slide3" class="img-responsive col-md-12">
                </div>
            </div>
        </div>
        <div class="infoBlocks">
            <div class="block">
                <a href="">
                    Для зачисления в группу необходимо пройти тестирование
                </a>
            </div>
            <div class="block">
                <a href="">
                    Все цены и курсы можно найти в одном разделе
                </a>
            </div>
            <div class="block">
                <a href="">
                    Экзамен IELTS
                </a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="blockAbout col-md-10">
                    <div class="fonOpasity"></div>
                    <div class="title">
                        <div class="squer">
                            <div class="max">
                                <div class="mini"></div>
                            </div>
                        </div>
                        <div class="textTitle">О школе</div>
                        <div class="squerReturn">
                            <div class="maxReturn">
                                <div class="miniReturn"></div>
                            </div>
                        </div>
                    </div>
                    <div class="titleSmall">О школе</div>
                    <div class="article">
                        Здесь какой-то вступительный текст.Здесь какой-то вступительный текст.Здесь какой-то вступительный текст.Здесь какой-то вступительный текст.Здесь какой-то вступительный текст.Здесь какой-то вступительный текст.Здесь какой-то вступительный текст.Здесь какой-то вступительный текст. Здесь какой-то вступительный текст.Здесь какой-то вступительный текст.Здесь какой-то вступительный текст.
                    </div>
                    <div class="more">
                        <a href="#">
                            Подробнее>>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="blockCourses col-md-10">
                    <h2>Мы предлагаем:</h2>
                    <div class="courses col-md-4">
                        <div class="verticalLine">
                        </div>
                        <div class="wripperCourses">
                            <div class="CourseForAdult">
                                <a href="#">
                                    Курсы английского для взрослых
                                </a>
                            </div>
                            <div class="CourseForChildren">
                                <a href="#">
                                    Курсы английского для детей
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="feedback col-md-7">
                        <div class="wrapFeedback">
                            <p>
                                Очень довольна данной учебной программой и в особенности – преподавателем Екатериной. На курсе получила все необходимые знания по данной профессии. Чувствую уверенность в возможности работать. Большое Вам спасибо!
                            </p>
                        </div>
                        <h4>Ирина</h4>
                        <a href="#">Все отзывы</a>
                    </div>
                </div>
            </div>
        </div>

        @Html.Action("Location", "Home")

        @* /////location *@
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/effect.js")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('#application').click(function () {
                $('#register').css('display', 'flex');
            });
        });

    </script>

</body>
</html>
