<div id="navbarCollapse" class="collapse navbar-collapse">
    <div class="nav nav-pills">
        <ul class="leftColumn nav navbar-nav">
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
            <li>@Html.ActionLink("О нас", "About", "Home")</li>
            <li>@Html.ActionLink("Наши преподаватели", "Teachers", "Teacher")</li>
            <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
            <li>@Html.ActionLink("Отзывы", "Feedback", "Home")</li>
            <li>@Html.ActionLink("Цены", "Price", "Home")</li>
            <li>@Html.ActionLink("Тесты", "Tests", "Home")</li>
        </ul>
    </div>
</div>